Repository gjoseph92/snakebench: changes, and which pre-commit hooks are due for each by the changed paths.
All: pdm-check, shed, flake8, pyright

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: pdm-check
        name: pdm check
        description: Check that PDM lockfile is up to date
        entry: pdm install --check --dry-run
        files: "^pyproject.toml$"
        language: python
        language_version: python3
        pass_filenames: false
      - id: shed
        name: shed
        entry: pdm run shed
        language: python
        types: [file]
        files: .*\.(py|md|rst)
        args: [--refactor]
      - id: flake8
        name: flake8
        entry: pdm run flake8
        language: python
        types: [python]
        require_serial: true
      - id: pyright
        name: pyright
        entry: pdm run pyright
        language: node
        pass_filenames: true
        types: [python]

coassign with priority affinity
  pdm.lock
  pyproject.toml
Due: pdm-check

remove pdm cache (doesn't work)
  .github/workflows/test.yaml
Due: none

silly 4 task per worker coassignment
  pdm.lock
  pyproject.toml
Due: pdm-check

0.25 worker saturation
  dask.yaml
Due: none

assign from queue in batches of nthreads
  pdm.lock
  pyproject.toml
Due: pdm-check

Switch scheduler to m6i.large
  snakebench/clusters.py
Due: shed, flake8, pyright

update deps
  pdm.lock
  pyproject.toml
Due: pdm-check

package sync backend
  snakebench/clusters.py
Due: shed, flake8, pyright

4 repeats
  .github/workflows/test.yaml
Due: none

initial queue-everything impl
  pdm.lock
  pyproject.toml
Due: pdm-check

matplotlib in utils [skip ci]
  pdm.lock
  pyproject.toml
Due: pdm-check

force rootish to back of queue
  pdm.lock
  pyproject.toml
Due: pdm-check

ignore notes [skip ci]
  .gitignore
Due: none

update sneks and use it again
  pdm.lock
  pyproject.toml
  snakebench/clusters.py
Due: pdm-check, shed, flake8, pyright

update dask & distributed
  pdm.lock
  pyproject.toml
Due: pdm-check

test_filter
  tests/benchmarks/test_dataframe.py
Due: shed, flake8, pyright

fixed sneks
  pdm.lock
  pyproject.toml
Due: pdm-check

really fixed sneks?
  pdm.lock
  pyproject.toml
Due: pdm-check

factor out VM types [skip ci]
  snakebench/clusters.py
Due: shed, flake8, pyright

merge main
  .github/workflows/test.yaml
  .gitignore
  README.md
  dask.yaml
  pdm.lock
  pyproject.toml
  snakebench/__init__.py
  snakebench/benchmark_all.py
  snakebench/clusters.py
  snakebench/core.py
  snakebench/schema.py
  snakebench/transfers.py
  tests/benchmarks/test_array.py
  tests/benchmarks/test_dataframe.py
  tests/test_test.py
Due: pdm-check, shed, flake8, pyright

test if snakebench works
  .github/workflows/test.yaml
  snakebench/clusters.py
Due: shed, flake8, pyright

5 repeats
  .github/workflows/test.yaml
Due: none

c7g.large - 3 reps
  .github/workflows/test.yaml
  snakebench/clusters.py
Due: shed, flake8, pyright

c6i - 3 reps
  .github/workflows/test.yaml
  snakebench/clusters.py
Due: shed, flake8, pyright

c6i.large - 3 reps (trying again)
  snakebench/clusters.py
Due: shed, flake8, pyright

t3.large - 3 reps
  snakebench/clusters.py
Due: shed, flake8, pyright

test_spill_no_transfer
  tests/benchmarks/test_dataframe.py
Due: shed, flake8, pyright

only run test, 2 repeats
  .github/workflows/test.yaml
Due: none

2 workers
  snakebench/clusters.py
Due: shed, flake8, pyright

lock down dataframe size
  tests/benchmarks/test_dataframe.py
Due: shed, flake8, pyright

spill with nvme
  snakebench/clusters.py
Due: shed, flake8, pyright

disable spilling
  dask.yaml
Due: none

9 workers
  snakebench/clusters.py
Due: shed, flake8, pyright

10 workers
  snakebench/clusters.py
Due: shed, flake8, pyright

Run test_vorticity only
  .github/workflows/test.yaml
Due: none
