Repository gjoseph92/snakebench: changes, and which pre-commit hooks are due for each by the changed paths.
All: pdm-check, shed, flake8, pyright

pdm-check:
  name: pdm check
  description: Check that PDM lockfile is up to date
  entry: pdm install --check --dry-run
  language: python
  language_version: python3
  pass_filenames: false

shed:
  name: shed
  entry: pdm run shed
  language: python
  args:
  - --refactor

flake8:
  name: flake8
  entry: pdm run flake8
  language: python
  require_serial: true

pyright:
  name: pyright
  entry: pdm run pyright
  language: node
  pass_filenames: true

add repeats
  .github/workflows/test.yaml
Due: none

trying to figure out AB viz but doesn't work
  AB.vg
Due: none

set max-parallel
  .github/workflows/test.yaml
Due: none

radio for AB viz; mean & ticks of all runs
  AB.vg
  allTests.vg
  viz.html
Due: none

color by test
  allTests.vg
Due: none

factor out cluster-kwargs and set account
  snakebench/clusters.py
  tests/benchmarks/test_parquet.py
  tests/benchmarks/test_work_stealing.py
Due: shed, flake8, pyright

record and ID by run ID
  .github/workflows/test.yaml
  snakebench/core.py
  snakebench/schema.py
Due: shed, flake8, pyright

update sneks: need senv account name
  pdm.lock
  pyproject.toml
Due: pdm-check

Remove repeats & concurrency limit
  .github/workflows/test.yaml
Due: none

Support appending results for the same commit
  .github/workflows/test.yaml
  .gitignore
Due: none

Revert "Remove repeats & concurrency limit"
  .github/workflows/test.yaml
Due: none

separate artifacts by repeat
  .github/workflows/test.yaml
Due: none

reactivate all tests
  .github/workflows/test.yaml
Due: none

store branch name
  snakebench/commit_info.py
  snakebench/core.py
  snakebench/schema.py
Due: shed, flake8, pyright

unique cluster names per matrix
  .github/workflows/test.yaml
  snakebench/core.py
Due: shed, flake8, pyright

`test_work_stealing_on_straggling_worker` dump
  tests/benchmarks/test_work_stealing.py
Due: shed, flake8, pyright

remove A/B viz for now; observable more promising
  viz.html
Due: none

too much concurrency
  .github/workflows/test.yaml
Due: none

1 repeat on main
  .github/workflows/test.yaml
Due: none

account name for cluster spinup time
  tests/benchmarks/test_coiled.py
Due: shed, flake8, pyright

initial branch matching pattern
  .github/workflows/test.yaml
Due: none

no fail fast
  .github/workflows/test.yaml
Due: none

no queuing on main
  snakebench/clusters.py
Due: shed, flake8, pyright

worker-saturation 1.0
  .github/workflows/test.yaml
  snakebench/clusters.py
Due: shed, flake8, pyright

worker-saturation 1.5
  .github/workflows/test.yaml
  snakebench/clusters.py
Due: shed, flake8, pyright

worker-saturation 2.0
  .github/workflows/test.yaml
  snakebench/clusters.py
Due: shed, flake8, pyright

move viz stuff under /viz directory
  viz/AB.vg
  viz/allTests.vg
  viz/index.html
Due: none

only run on .py files
  .github/workflows/test.yaml
Due: none

GH pages for viz
  .github/workflows/pages.yml
Due: none

only re-publish viz when necessary
  .github/workflows/pages.yaml
Due: none

add pre-commit to deps
  pdm.lock
  pyproject.toml
Due: pdm-check

lock pdm and push commit back before tests
  .github/workflows/test.yaml
Due: none

test without clusters
  .github/workflows/test.yaml
Due: none

try overriding distributed
  pyproject.toml
Due: pdm-check

fix lock command
  .github/workflows/test.yaml
Due: none

run when workflow changes
  .github/workflows/test.yaml
Due: none

try with venv?
  .github/workflows/test.yaml
Due: none

verbose
  .github/workflows/test.yaml
Due: none

try git config override
  .github/workflows/test.yaml
Due: none

wrong org name 🤦
  pyproject.toml
Due: pdm-check

Path conditions:
  pdm-check: any of: ^pyproject.toml$
  shed: any of: .*\.(py|md|rst)
  flake8: any of: \.py$
  pyright: any of: \.py$
