Repository gjoseph92/snakebench: changes, and which pre-commit hooks are due for each by the changed paths.
All: pdm-check, shed, flake8, pyright

pdm-check:
  name: pdm check
  description: Check that PDM lockfile is up to date
  entry: pdm install --check --dry-run
  language: python
  language_version: python3
  pass_filenames: false

shed:
  name: shed
  entry: pdm run shed
  language: python
  args:
  - --refactor

flake8:
  name: flake8
  entry: pdm run flake8
  language: python
  require_serial: true

pyright:
  name: pyright
  entry: pdm run pyright
  language: node
  pass_filenames: true

get rid of extra stuff
  .github/workflows/test.yaml
Due: none

Update lockfile
  pdm.lock
Due: none

fix lockfile out of date testing
  .github/workflows/test.yaml
Due: none

Revert "test without clusters"
  .github/workflows/test.yaml
Due: none

fix pages yaml name
  .github/workflows/pages.yaml
Due: none

Revert fake override
  pdm.lock
  pyproject.toml
Due: pdm-check

Auto lock PDM (#1)
  .github/workflows/test.yaml
Due: none

print cluster name and dashboard link always
  snakebench/clusters.py
  tests/benchmarks/test_parquet.py
Due: shed, flake8, pyright

add readme
  README.md
Due: shed

update observable url
  README.md
Due: shed

move dependencies section later
  README.md
Due: shed

remove commented out venv in lock job
  .github/workflows/test.yaml
Due: none

ignore test_test in CI
  .github/workflows/test.yaml
  tests/test_test.py
Due: shed, flake8, pyright

add h2o benchmarks
  tests/benchmarks/test_h2o.py
Due: shed, flake8, pyright

only run h2o on 5gb for now
  tests/benchmarks/test_h2o.py
Due: shed, flake8, pyright

skip work stealing
  tests/benchmarks/test_work_stealing.py
Due: shed, flake8, pyright

4 repeats
  .github/workflows/test.yaml
Due: none

latest distributed main
  pyproject.toml
Due: pdm-check

queue 1.0
  snakebench/clusters.py
Due: shed, flake8, pyright

dumb queuing co-assign
  pyproject.toml
Due: pdm-check

skip h2o for now
  tests/benchmarks/test_h2o.py
Due: shed, flake8, pyright

use branch name, not commit name
  viz/allTests.vg
Due: none

svg embed
  viz/index.html
Due: none

separate x scales
  viz/allTests.vg
Due: none

upper boundary of the bootstrapped 95% confidence interval of the mean field value
  viz/allTests.vg
Due: none

black ticks
  viz/allTests.vg
Due: none

update sneks
  pdm.lock
  pyproject.toml
Due: pdm-check

update sneks
  pyproject.toml
Due: pdm-check

update sneks again
  pdm.lock
  pyproject.toml
Due: pdm-check

Path conditions:
  pdm-check: any of: ^pyproject.toml$
  shed: any of: .*\.(py|md|rst)
  flake8: any of: \.py$
  pyright: any of: \.py$
