Repository gjoseph92/snakebench: changes, and which pre-commit hooks are due for each by the changed paths.
All: pdm-check, shed, flake8, pyright

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: pdm-check
        name: pdm check
        description: Check that PDM lockfile is up to date
        entry: pdm install --check --dry-run
        files: "^pyproject.toml$"
        language: python
        language_version: python3
        pass_filenames: false
      - id: shed
        name: shed
        entry: pdm run shed
        language: python
        types: [file]
        files: .*\.(py|md|rst)
        args: [--refactor]
      - id: flake8
        name: flake8
        entry: pdm run flake8
        language: python
        types: [python]
        require_serial: true
      - id: pyright
        name: pyright
        entry: pdm run pyright
        language: node
        pass_filenames: true
        types: [python]

fixed commit info
  snakebench/core.py
Due: shed, flake8, pyright

fixed commit info again
  snakebench/core.py
Due: shed, flake8, pyright

changed some test values
  tests/test_test.py
Due: shed, flake8, pyright

add viz
  viz.html
  viz.vg
Due: none

run for all branches for now
  .github/workflows/test.yaml
Due: none

starting on s3 upload
  .github/workflows/test.yaml
Due: none

use real bucket URL
  viz.html
Due: none

change tests again
  tests/test_test.py
Due: shed, flake8, pyright

update defaults - this thing actually works!
  viz.html
Due: none

add sneks!
  pdm.lock
  pyproject.toml
Due: pdm-check

separate commit_info file
  snakebench/__init__.py
  snakebench/commit_info.py
  snakebench/core.py
Due: shed, flake8, pyright

initial clusters work
  pdm.lock
  pyproject.toml
  snakebench/__init__.py
  snakebench/clusters.py
  tests/test_quickstart.py
Due: pdm-check, shed, flake8, pyright

shutdown on close
  pdm.lock
  pyproject.toml
  snakebench/clusters.py
Due: pdm-check, shed, flake8, pyright

bring over more tests
  pdm.lock
  pyproject.toml
  snakebench/__init__.py
  snakebench/clusters.py
  snakebench/utils_test.py
  tests/benchmarks/test_array.py
  tests/test_utils_test.py
Due: pdm-check, shed, flake8, pyright

try 1.0 saturation
  snakebench/clusters.py
Due: shed, flake8, pyright

trim long commits in browser
  viz.html
Due: none

auto benchmark with small_client
  snakebench/__init__.py
  snakebench/benchmark_all.py
  snakebench/clusters.py
  snakebench/memory.py
Due: shed, flake8, pyright

make bencharks a module?
  tests/benchmarks/__init__.py
Due: shed, flake8, pyright

disable queuing
  snakebench/clusters.py
Due: shed, flake8, pyright

fix numpy scalars in TestRun
  pyproject.toml
  snakebench/core.py
  snakebench/schema.py
  tests/test_test.py
Due: pdm-check, shed, flake8, pyright

pytest always -vs
  pyproject.toml
Due: pdm-check

'correct' bytes units
  viz.vg
Due: none

use current module name for cluster correctly
  snakebench/__init__.py
  snakebench/clusters.py
  snakebench/core.py
Due: shed, flake8, pyright

add xdist
  pdm.lock
  pyproject.toml
Due: pdm-check

cluster_name fixture
  snakebench/__init__.py
  snakebench/clusters.py
Due: shed, flake8, pyright

update sneks again
  pdm.lock
  pyproject.toml
Due: pdm-check

fix work stealing tests to use sneks
  tests/benchmarks/test_work_stealing.py
Due: shed, flake8, pyright

add s3
  snakebench/__init__.py
  snakebench/s3.py
Due: shed, flake8, pyright

split unnecessarily parameterized test
  tests/benchmarks/test_parquet.py
Due: shed, flake8, pyright

update gha
  .github/workflows/test.yaml
Due: none

add rest of benchmarks
  pdm.lock
  pyproject.toml
  snakebench/clusters.py
  tests/benchmarks/test_coiled.py
  tests/benchmarks/test_custom.py
  tests/benchmarks/test_dataframe.py
  tests/benchmarks/test_parquet.py
  tests/benchmarks/test_work_stealing.py
Due: pdm-check, shed, flake8, pyright

speed up test_benchmark_all
  tests/test_test.py
Due: shed, flake8, pyright

make `wait` more generic
  snakebench/utils_test.py
  tests/benchmarks/test_array.py
  tests/benchmarks/test_custom.py
  tests/benchmarks/test_dataframe.py
Due: shed, flake8, pyright

module_id and test_id
  snakebench/__init__.py
  snakebench/clusters.py
  snakebench/core.py
  tests/benchmarks/test_coiled.py
  tests/benchmarks/test_parquet.py
  tests/benchmarks/test_work_stealing.py
Due: shed, flake8, pyright

missing future annotations
  snakebench/commit_info.py
Due: shed, flake8, pyright

add setuptools dep so coiled can run
  pdm.lock
  pyproject.toml
Due: pdm-check

turn on queuing
  snakebench/clusters.py
  tests/benchmarks/test_parquet.py
  tests/benchmarks/test_work_stealing.py
Due: shed, flake8, pyright

add aws creds to test run
  .github/workflows/test.yaml
Due: none

store last commits used in localstorage
  viz.html
Due: none

4 columns
  viz.vg
Due: none
