Repository gjoseph92/snakebench: changes, and which pre-commit hooks are due for each by the changed paths.
All: pdm-check, shed, flake8, pyright

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: pdm-check
        name: pdm check
        description: Check that PDM lockfile is up to date
        entry: pdm install --check --dry-run
        files: "^pyproject.toml$"
        language: python
        language_version: python3
        pass_filenames: false
      - id: shed
        name: shed
        entry: pdm run shed
        language: python
        types: [file]
        files: .*\.(py|md|rst)
        args: [--refactor]
      - id: flake8
        name: flake8
        entry: pdm run flake8
        language: python
        types: [python]
        require_serial: true
      - id: pyright
        name: pyright
        entry: pdm run pyright
        language: node
        pass_filenames: true
        types: [python]

sneks 0.4 [skip ci]
  pdm.lock
  pyproject.toml
Due: pdm-check

switch to m6i by default like coiled-runtime
  snakebench/clusters.py
Due: shed, flake8, pyright

new/updated tests from coiled-runtime [skip ci]
  tests/benchmarks/test_array.py
  tests/benchmarks/test_dataframe.py
  tests/benchmarks/test_h2o.py
Due: shed, flake8, pyright

remove setuptools [skip ci]
  pdm.lock
  pyproject.toml
Due: pdm-check

update deps [skip ci]
  pdm.lock
  pyproject.toml
Due: pdm-check

add zarr
  pdm.lock
  pyproject.toml
Due: pdm-check

skip `test_filter_then_average` [skip ci]
  tests/benchmarks/test_array.py
Due: shed, flake8, pyright

4 repeats
  .github/workflows/test.yaml
Due: none

m6g
  snakebench/clusters.py
Due: shed, flake8, pyright

pdm update [skip ci]
  pdm.lock
Due: none

add `test_ols` [skip ci]
  tests/benchmarks/test_array.py
Due: shed, flake8, pyright

rename profile outputs for clarity [skip ci]
  .github/workflows/test.yaml
  README.md
  snakebench/clusters.py
Due: shed, flake8, pyright

trailing slash for worker profiles? [skip ci]
  .github/workflows/test.yaml
Due: none

allow a single test_filter_then_average [skip ci]
  tests/benchmarks/test_array.py
Due: shed, flake8, pyright

pyspy in ci
  .github/workflows/test.yaml
Due: none

test just one first
  .github/workflows/test.yaml
Due: none

different single test
  .github/workflows/test.yaml
Due: none

fix `test_sum_residuals`
  tests/benchmarks/test_array.py
Due: shed, flake8, pyright

try with two
  .github/workflows/test.yaml
Due: none

fix `test_sum_residuals` [skip ci]
  tests/benchmarks/test_array.py
Due: shed, flake8, pyright

just profile 2 workers
  snakebench/clusters.py
Due: shed, flake8, pyright

Revert
  .github/workflows/test.yaml
Due: none

m6i.xlarge
  snakebench/clusters.py
Due: shed, flake8, pyright

add scipy for ols test
  pdm.lock
  pyproject.toml
Due: pdm-check

only record GIL-holding frames
  snakebench/clusters.py
Due: shed, flake8, pyright

Factor out dask config to standalone file [skip ci]
  dask.yaml
  pdm.lock
  pyproject.toml
  snakebench/clusters.py
  tests/test_test.py
Due: pdm-check, shed, flake8, pyright

remove commented-out value from config [skip ci]
  dask.yaml
Due: none

standard comms
  .github/workflows/test.yaml
Due: none

smoke test that asyncio comms are configured
  tests/test_asyncio_comm.py
Due: shed, flake8, pyright

use asyncio comms
  dask.yaml
Due: none

improve local py-spy experience
  .gitignore
  snakebench/__init__.py
  snakebench/clusters.py
  snakebench/core.py
Due: shed, flake8, pyright

don't profile subprocesses locally [skip ci]
  snakebench/clusters.py
Due: shed, flake8, pyright

big enough for test_basic_sum to not die
  snakebench/clusters.py
Due: shed, flake8, pyright

small local limit for faster tests
  snakebench/clusters.py
Due: shed, flake8, pyright
