Repository gjoseph92/snakebench: changes, and which pre-commit hooks are due for each by the changed paths.
All: pdm-check, shed, flake8, pyright

pdm-check:
  name: pdm check
  description: Check that PDM lockfile is up to date
  entry: pdm install --check --dry-run
  language: python
  language_version: python3
  pass_filenames: false

shed:
  name: shed
  entry: pdm run shed
  language: python
  args:
  - --refactor

flake8:
  name: flake8
  entry: pdm run flake8
  language: python
  require_serial: true

pyright:
  name: pyright
  entry: pdm run pyright
  language: node
  pass_filenames: true

fix slowdown occasional negative sleeps [skip ci]
  snakebench/utils_test.py
  tests/test_utils_test.py
Due: shed, flake8, pyright

use sat-factor round-up
  pdm.lock
  pyproject.toml
Due: pdm-check

1.0 saturation
  snakebench/clusters.py
Due: shed, flake8, pyright

6 repeasts
  .github/workflows/test.yaml
Due: none

1.1 saturation
  snakebench/clusters.py
Due: shed, flake8, pyright

add larger shuffle [skip ci]
  tests/benchmarks/test_dataframe.py
Due: shed, flake8, pyright

only run our test
  .github/workflows/test.yaml
Due: none

task based shuffle
  tests/benchmarks/test_dataframe.py
Due: shed, flake8, pyright

no disk buffering
  pyproject.toml
Due: pdm-check

no disk no comm
  pyproject.toml
Due: pdm-check

no comm
  pyproject.toml
Due: pdm-check

Update lockfile
  pdm.lock
Due: none

20k partitions
  tests/benchmarks/test_dataframe.py
Due: shed, flake8, pyright

send prometheus metrics [skip ci]
  snakebench/clusters.py
Due: shed, flake8, pyright

support re-using clusters [skip ci]
  README.md
  conftest.py
  snakebench/__init__.py
  snakebench/clusters.py
  snakebench/core.py
Due: shed, flake8, pyright

don't `client.cancel` in `wait`
  snakebench/utils_test.py
Due: shed, flake8, pyright

fix futures tests
  tests/benchmarks/test_futures.py
Due: shed, flake8, pyright

note PAT permissions
  .github/workflows/test.yaml
Due: none

reminder to clean up reused clusters
  README.md
Due: shed

update to 2022.10.0
  pdm.lock
Due: none

skip_bench test_memory_efficient [skip ci]
  tests/benchmarks/test_futures.py
Due: shed, flake8, pyright

consolidate test_custom and test_futures
  tests/benchmarks/test_custom.py
  tests/benchmarks/test_futures.py
Due: shed, flake8, pyright

1.2 saturation
  snakebench/clusters.py
Due: shed, flake8, pyright

inf saturation
  snakebench/clusters.py
Due: shed, flake8, pyright

sneks from pypi [skip ci]
  pdm.lock
  pyproject.toml
Due: pdm-check

ignore profile results
  .gitignore
Due: none

add latest coiled
  pdm.lock
  pyproject.toml
Due: pdm-check

pyspy in fixture
  snakebench/clusters.py
Due: shed, flake8, pyright

add dask pyspy
  pdm.lock
  pyproject.toml
Due: pdm-check

add prometheus client
  pdm.lock
  pyproject.toml
Due: pdm-check

Path conditions:
  pdm-check: any of: ^pyproject.toml$
  shed: any of: .*\.(py|md|rst)
  flake8: any of: \.py$
  pyright: any of: \.py$
