Repository gjoseph92/snakebench: changes, and which pre-commit hooks are due for each by the changed paths.
All: pdm-check, shed, flake8, pyright

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: pdm-check
        name: pdm check
        description: Check that PDM lockfile is up to date
        entry: pdm install --check --dry-run
        files: "^pyproject.toml$"
        language: python
        language_version: python3
        pass_filenames: false
      - id: shed
        name: shed
        entry: pdm run shed
        language: python
        types: [file]
        files: .*\.(py|md|rst)
        args: [--refactor]
      - id: flake8
        name: flake8
        entry: pdm run flake8
        language: python
        types: [python]
        require_serial: true
      - id: pyright
        name: pyright
        entry: pdm run pyright
        language: node
        pass_filenames: true
        types: [python]

skip `test_memory_efficient` for now
  tests/benchmarks/test_futures.py
Due: shed, flake8, pyright

record all memory samples
  snakebench/memory.py
  snakebench/schema.py
Due: shed, flake8, pyright

REVERTME queue test commit
  snakebench/clusters.py
Due: shed, flake8, pyright

store unique id per test
  snakebench/core.py
  snakebench/schema.py
Due: shed, flake8, pyright

prefix field name with `memory`
  snakebench/memory.py
  snakebench/schema.py
Due: shed, flake8, pyright

Revert "REVERTME queue test commit"
  snakebench/clusters.py
Due: shed, flake8, pyright

Record memory sampler timeseries (#5)
  snakebench/core.py
  snakebench/memory.py
  snakebench/schema.py
Due: shed, flake8, pyright

add graphviz for convenience
  pdm.lock
  pyproject.toml
Due: pdm-check

add `slowdown` utility
  snakebench/utils_test.py
  tests/test_utils_test.py
Due: shed, flake8, pyright

add slowdown to all tests
  tests/benchmarks/test_array.py
  tests/benchmarks/test_dataframe.py
  tests/benchmarks/test_work_stealing.py
Due: shed, flake8, pyright

0.1s is probably more realistic
  snakebench/utils_test.py
Due: shed, flake8, pyright

allow easy zero-ing
  snakebench/utils_test.py
  tests/test_utils_test.py
Due: shed, flake8, pyright

remove persist from quickstart
  tests/benchmarks/test_csv.py
Due: shed, flake8, pyright

hide PDM lock from github diffs [skip ci]
  .gitattributes
Due: none

no_ci marker
  .github/workflows/test.yaml
  pyproject.toml
  tests/test_test.py
Due: pdm-check, shed, flake8, pyright

skip_bench helper
  .github/workflows/test.yaml
  snakebench/__init__.py
  snakebench/skip.py
Due: shed, flake8, pyright

skips on futures, parquet, work stealing
  tests/benchmarks/test_futures.py
  tests/benchmarks/test_h2o.py
  tests/benchmarks/test_parquet.py
  tests/benchmarks/test_work_stealing.py
Due: shed, flake8, pyright

remove test_coiled entirely; not useful here
  tests/benchmarks/test_coiled.py
Due: shed, flake8, pyright

decrease pytest parallelism [skip ci]
  .github/workflows/test.yaml
Due: none

skip h2o selectively
  tests/benchmarks/test_h2o.py
Due: shed, flake8, pyright

skip h2o csv
  tests/benchmarks/test_h2o.py
Due: shed, flake8, pyright

remove test_parquet entirely
  tests/benchmarks/test_parquet.py
Due: shed, flake8, pyright

skip `test_work_stealing_on_scaling_up` [skip ci]
  tests/benchmarks/test_work_stealing.py
Due: shed, flake8, pyright

Skip some tests during benchmarks [skip ci] (#7)
  .github/workflows/test.yaml
  pyproject.toml
  snakebench/__init__.py
  snakebench/skip.py
  tests/benchmarks/test_coiled.py
  tests/benchmarks/test_futures.py
  tests/benchmarks/test_h2o.py
  tests/benchmarks/test_parquet.py
  tests/benchmarks/test_work_stealing.py
  tests/test_test.py
Due: pdm-check, shed, flake8, pyright

Slow down data creation [skip ci] (#6)
  pdm.lock
  pyproject.toml
  snakebench/utils_test.py
  tests/benchmarks/test_array.py
  tests/benchmarks/test_dataframe.py
  tests/benchmarks/test_work_stealing.py
  tests/test_utils_test.py
Due: pdm-check, shed, flake8, pyright

6 repeasts
  .github/workflows/test.yaml
Due: none

use sat-factor round-up
  pdm.lock
  pyproject.toml
Due: pdm-check

1.0 saturation
  snakebench/clusters.py
Due: shed, flake8, pyright

egrep
  for-each-branch.sh
Due: none

fix benchmarking detection [skip ci]
  .github/workflows/test.yaml
  snakebench/skip.py
Due: shed, flake8, pyright

1.2 saturation
  snakebench/clusters.py
Due: shed, flake8, pyright

inf saturation
  snakebench/clusters.py
Due: shed, flake8, pyright

no data-loading slowdown
  snakebench/utils_test.py
Due: shed, flake8, pyright

skip_bench test_large_map [skip ci]
  tests/benchmarks/test_futures.py
Due: shed, flake8, pyright
