Repository gjoseph92/snakebench: changes, and which pre-commit hooks are due for each by the changed paths.
All: pdm-check, shed, flake8, pyright

pdm-check:
  name: pdm check
  description: Check that PDM lockfile is up to date
  entry: pdm install --check --dry-run
  language: python
  language_version: python3
  pass_filenames: false

shed:
  name: shed
  entry: pdm run shed
  language: python
  args:
  - --refactor

flake8:
  name: flake8
  entry: pdm run flake8
  language: python
  require_serial: true

pyright:
  name: pyright
  entry: pdm run pyright
  language: node
  pass_filenames: true

--pyspy option
  conftest.py
  snakebench/clusters.py
Due: shed, flake8, pyright

upload profiles
  .github/workflows/test.yaml
Due: none

readme
  README.md
Due: shed

support scheduler profiling [skip ci]
  .github/workflows/test.yaml
  README.md
  conftest.py
  snakebench/clusters.py
Due: shed, flake8, pyright

Py-spy profiles (#8)
  .github/workflows/test.yaml
  .gitignore
  README.md
  conftest.py
  pdm.lock
  pyproject.toml
  snakebench/clusters.py
Due: pdm-check, shed, flake8, pyright

ignore scheduler profiles too [skip ci]
  .gitignore
Due: none

queue 1.0
  snakebench/clusters.py
Due: shed, flake8, pyright

only test array
  .github/workflows/test.yaml
Due: none

smaller workers, bigger scheduler
  snakebench/clusters.py
Due: shed, flake8, pyright

128 workers
  snakebench/clusters.py
Due: shed, flake8, pyright

no queue
  snakebench/clusters.py
Due: shed, flake8, pyright

HACK REVERT pip install dask-pyspy on scheduler [skip ci]
  snakebench/clusters.py
Due: shed, flake8, pyright

reduce occupancy cost
  pdm.lock
  pyproject.toml
Due: pdm-check

512 workers omg
  snakebench/clusters.py
Due: shed, flake8, pyright

queue on
  snakebench/clusters.py
Due: shed, flake8, pyright

first just try smol cluster to check profiles work
  snakebench/clusters.py
Due: shed, flake8, pyright

pyspy in ci
  .github/workflows/test.yaml
Due: none

longer timeout
  tests/benchmarks/test_array.py
Due: shed, flake8, pyright

pyspy workers too
  .github/workflows/test.yaml
Due: none

skip most
  tests/benchmarks/test_array.py
Due: shed, flake8, pyright

enable compression [skip ci]
  pdm.lock
  pyproject.toml
Due: pdm-check

dask and distributed from main
  pdm.lock
  pyproject.toml
Due: pdm-check

skip test_csv
  tests/benchmarks/test_csv.py
Due: shed, flake8, pyright

50gb H2O
  tests/benchmarks/test_h2o.py
Due: shed, flake8, pyright

1.1 worker saturation
  snakebench/clusters.py
Due: shed, flake8, pyright

skip h2o entirely
  tests/benchmarks/test_h2o.py
Due: shed, flake8, pyright

commit before occupancy refactor
  pdm.lock
  pyproject.toml
Due: pdm-check

skip quickstart benchmark [skip ci]
  tests/benchmarks/test_csv.py
Due: shed, flake8, pyright

4 repeats
  .github/workflows/test.yaml
Due: none

use https://github.com/dask/distributed/pull/7278
  pdm.lock
  pyproject.toml
Due: pdm-check

use https://github.com/dask/distributed/pull/7280
  pdm.lock
  pyproject.toml
Due: pdm-check

Path conditions:
  pdm-check: any of: ^pyproject.toml$
  shed: any of: .*\.(py|md|rst)
  flake8: any of: \.py$
  pyright: any of: \.py$
