Repository gjoseph92/snakebench: changes, and which pre-commit hooks are due for each by the changed paths.
All: pdm-check, shed, flake8, pyright

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: pdm-check
        name: pdm check
        description: Check that PDM lockfile is up to date
        entry: pdm install --check --dry-run
        files: "^pyproject.toml$"
        language: python
        language_version: python3
        pass_filenames: false
      - id: shed
        name: shed
        entry: pdm run shed
        language: python
        types: [file]
        files: .*\.(py|md|rst)
        args: [--refactor]
      - id: flake8
        name: flake8
        entry: pdm run flake8
        language: python
        types: [python]
        require_serial: true
      - id: pyright
        name: pyright
        entry: pdm run pyright
        language: node
        pass_filenames: true
        types: [python]

4 repeats
  .github/workflows/test.yaml
Due: none

use cogroups branch
  pyproject.toml
Due: pdm-check

run with more paths changed [skip ci]
  .github/workflows/test.yaml
Due: none

Update lockfile
  pdm.lock
Due: none

try new sneks
  pdm.lock
  pyproject.toml
Due: pdm-check

newer sneks
  pdm.lock
  pyproject.toml
Due: pdm-check

1 repeat for profiling
  .github/workflows/test.yaml
Due: none

profile scheduler
  .github/workflows/test.yaml
Due: none

py3.9
  .github/workflows/test.yaml
Due: none

update dask & distributed
  pyproject.toml
Due: pdm-check

only array and futures tests for now
  .github/workflows/test.yaml
Due: none

python 3.9
  .github/workflows/test.yaml
Due: none

switch to 3.9 in CI
  .github/workflows/test.yaml
Due: none

update dask,distributed,xarray, remove bokeh pin
  pdm.lock
  pyproject.toml
Due: pdm-check

eager task release
  pyproject.toml
Due: pdm-check

rootish fix & don't oversaturate in cogroup
  pdm.lock
  pyproject.toml
Due: pdm-check

2 repeats
  .github/workflows/test.yaml
Due: none

only rootish fix
  pdm.lock
  pyproject.toml
Due: pdm-check

add https://github.com/dask/distributed/pull/7388
  pdm.lock
  pyproject.toml
Due: pdm-check

big enough for test_basic_sum to not die
  snakebench/clusters.py
Due: shed, flake8, pyright

small local limit for faster tests
  snakebench/clusters.py
Due: shed, flake8, pyright

Benchmark total transfer per worker
  snakebench/__init__.py
  snakebench/benchmark_all.py
  snakebench/schema.py
  snakebench/transfers.py
Due: shed, flake8, pyright

use https://github.com/dask/distributed/pull/7388
  pdm.lock
  pyproject.toml
Due: pdm-check

worker-saturation: inf
  dask.yaml
Due: none

rootish fix, oversaturate cogroups, reasonable
  pdm.lock
  pyproject.toml
Due: pdm-check

simple coassignment by divvying up sorted queue
  pdm.lock
  pyproject.toml
Due: pdm-check

use new setup-pdm with cache
  .github/workflows/test.yaml
Due: none

update sneks
  pdm.lock
  pyproject.toml
Due: pdm-check
