Repository gjoseph92/snakebench: changes, and which pre-commit hooks are due for each by the changed paths.
All: pdm-check, shed, flake8, pyright

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: pdm-check
        name: pdm check
        description: Check that PDM lockfile is up to date
        entry: pdm install --check --dry-run
        files: "^pyproject.toml$"
        language: python
        language_version: python3
        pass_filenames: false
      - id: shed
        name: shed
        entry: pdm run shed
        language: python
        types: [file]
        files: .*\.(py|md|rst)
        args: [--refactor]
      - id: flake8
        name: flake8
        entry: pdm run flake8
        language: python
        types: [python]
        require_serial: true
      - id: pyright
        name: pyright
        entry: pdm run pyright
        language: node
        pass_filenames: true
        types: [python]

always wait for workers
  snakebench/clusters.py
Due: shed, flake8, pyright

update sneks again
  pyproject.toml
Due: pdm-check

Update lockfile
  pdm.lock
Due: none

don't queue widely shared
  pyproject.toml
Due: pdm-check

store cluster info per test
  snakebench/clusters.py
  snakebench/schema.py
  tests/benchmarks/test_parquet.py
  tests/benchmarks/test_work_stealing.py
Due: shed, flake8, pyright

note three-part branch name convention
  README.md
Due: shed

for-each-branch utility
  README.md
  for-each-branch.sh
Due: shed

ignore vm types when not given
  snakebench/clusters.py
Due: shed, flake8, pyright

fixup! store cluster info per test
  snakebench/__init__.py
  tests/benchmarks/test_parquet.py
  tests/benchmarks/test_work_stealing.py
Due: shed, flake8, pyright

worker-saturation 1.0
  .github/workflows/test.yaml
  snakebench/clusters.py
Due: shed, flake8, pyright

skip coiled, parquet, work-stealing
  tests/benchmarks/test_coiled.py
  tests/benchmarks/test_parquet.py
  tests/benchmarks/test_work_stealing.py
Due: shed, flake8, pyright

2xl cluster
  snakebench/clusters.py
Due: shed, flake8, pyright

xl cluster
  snakebench/clusters.py
Due: shed, flake8, pyright

worker-saturation 1.5
  .github/workflows/test.yaml
  snakebench/clusters.py
Due: shed, flake8, pyright

worker-saturation 2.0
  .github/workflows/test.yaml
  snakebench/clusters.py
Due: shed, flake8, pyright
