Repository gjoseph92/snakebench: changes, and which pre-commit hooks are due for each by the changed paths.
All: pdm-check, shed, flake8, pyright

pdm-check:
  name: pdm check
  description: Check that PDM lockfile is up to date
  entry: pdm install --check --dry-run
  language: python
  language_version: python3
  pass_filenames: false

shed:
  name: shed
  entry: pdm run shed
  language: python
  args:
  - --refactor

flake8:
  name: flake8
  entry: pdm run flake8
  language: python
  require_serial: true

pyright:
  name: pyright
  entry: pdm run pyright
  language: node
  pass_filenames: true

2xl cluster
  snakebench/clusters.py
Due: shed, flake8, pyright

worker-saturation 2.0
  .github/workflows/test.yaml
  snakebench/clusters.py
Due: shed, flake8, pyright

skip coiled, parquet, work-stealing
  tests/benchmarks/test_coiled.py
  tests/benchmarks/test_parquet.py
  tests/benchmarks/test_work_stealing.py
Due: shed, flake8, pyright

xl cluster
  snakebench/clusters.py
Due: shed, flake8, pyright

typo in readme
  README.md
Due: shed

weak scaling
  tests/benchmarks/test_array.py
  tests/benchmarks/test_custom.py
  tests/benchmarks/test_dataframe.py
Due: shed, flake8, pyright

disable queuing
  snakebench/clusters.py
Due: shed, flake8, pyright

support local clusters
  README.md
  conftest.py
  snakebench/clusters.py
Due: shed, flake8, pyright

8 parallel clusters, to match coiled-runtime
  .github/workflows/test.yaml
Due: none

remove outdated comment about re-locking
  .github/workflows/test.yaml
Due: none

update dask and distributed
  pdm.lock
Due: none

add option to skip ci [skip ci]
  .github/workflows/test.yaml
  README.md
Due: shed

structural co-assignment
  pdm.lock
  pyproject.toml
Due: pdm-check

remove quickstart examples
  tests/benchmarks/test_csv.py
Due: shed, flake8, pyright

add test_futures
  tests/benchmarks/test_futures.py
Due: shed, flake8, pyright

add `test_basic_df_mean`
  tests/benchmarks/test_dataframe.py
Due: shed, flake8, pyright

5 repeats
  .github/workflows/test.yaml
Due: none

2.0 saturation
  snakebench/clusters.py
Due: shed, flake8, pyright

99.0 saturation
  snakebench/clusters.py
Due: shed, flake8, pyright

fixup! support local clusters
  snakebench/clusters.py
Due: shed, flake8, pyright

use fixed structural commit
  pdm.lock
  pyproject.toml
Due: pdm-check

further reduce test parallelism
  .github/workflows/test.yaml
Due: none

skip `test_memory_efficient` for now
  tests/benchmarks/test_futures.py
Due: shed, flake8, pyright

Path conditions:
  pdm-check: any of: ^pyproject.toml$
  shed: any of: .*\.(py|md|rst)
  flake8: any of: \.py$
  pyright: any of: \.py$
